[submodule "neo2.dotnet31.devhawk-neo2-nep5/git-repo"]
	path = neo2.dotnet31.devhawk-neo2-nep5/git-repo
	url = https://github.com/devhawk/neo2-nep5
[submodule "neo3.dotnet50.devhawk-ttf-loyalty-sample/git-repo"]
	path = neo3.dotnet50.devhawk-ttf-loyalty-sample/git-repo
	url = https://github.com/devhawk/ttf-loyalty-sample
[submodule "neo2.dotnet31.devhawk-cneo-sample/git-repo"]
	path = neo2.dotnet31.devhawk-cneo-sample/git-repo
	url = https://github.com/devhawk/cneo-sample
[submodule "neo2.java8.neow3j-java-neo2-examples/git-repo"]
	path = neo2.java8.neow3j-java-neo2-examples/git-repo
	url = https://github.com/neow3j/neow3j-examples-java.git
[submodule "neo3.java8.neow3j-java-neo3-examples/git-repo"]
	path = neo3.java8.neow3j-java-neo3-examples/git-repo
	url = https://github.com/neow3j/neow3j-examples-java.git
[submodule "neo3.dotnet50.ngdenterprise-neo-trace-debug-example/git-repo"]
	path = neo3.dotnet50.ngdenterprise-neo-trace-debug-example/git-repo
	url = https://github.com/ngdenterprise/neo-trace-debug-example
[submodule "neo2.dotnet31.devhawk-domain-sample/git-repo"]
	path = neo2.dotnet31.devhawk-domain-sample/git-repo
	url = https://github.com/devhawk/domain-sample
[submodule "neo3.dotnet50.devhawk-registrar-sample/git-repo"]
	path = neo3.dotnet50.devhawk-registrar-sample/git-repo
	url = https://github.com/devhawk/registrar-sample
[submodule "neo3.go115.nspcc-dev-neo-go-examples-token-sale/git-repo"]
	path = neo3.go115.nspcc-dev-neo-go-examples-token-sale/git-repo
	url = https://github.com/nspcc-dev/neo-go
