[submodule "neo2.dotnet31.devhawk-neo2-nep5/git-repo"]
	path = neo2.dotnet31.devhawk-neo2-nep5/git-repo
	url = https://github.com/devhawk/neo2-nep5
[submodule "neo2.dotnet31.devhawk-cneo-sample/git-repo"]
	path = neo2.dotnet31.devhawk-cneo-sample/git-repo
	url = https://github.com/devhawk/cneo-sample
[submodule "neo2.java8.neow3j-java-neo2-examples/git-repo"]
	path = neo2.java8.neow3j-java-neo2-examples/git-repo
	url = https://github.com/neow3j/neow3j-examples-java.git
[submodule "neo3.java8.neow3j-java-neo3-examples/git-repo"]
	path = neo3.java8.neow3j-java-neo3-examples/git-repo
	url = https://github.com/neow3j/neow3j-examples-java.git
[submodule "neo2.dotnet31.devhawk-domain-sample/git-repo"]
	path = neo2.dotnet31.devhawk-domain-sample/git-repo
	url = https://github.com/devhawk/domain-sample
[submodule "neo3.go115.nspcc-dev-neo-go-examples-token-sale/git-repo"]
	path = neo3.go115.nspcc-dev-neo-go-examples-token-sale/git-repo
	url = https://github.com/nspcc-dev/neo-go
[submodule "neo3.dotnet50.devhawk-neo-registrar-sample/git-repo"]
	path = neo3.dotnet50.devhawk-neo-registrar-sample/git-repo
	url = https://github.com/devhawk/neo-registrar-sample
[submodule "neo3.dotnet50.devhawk-neo-fungible-token-sample/git-repo"]
	path = neo3.dotnet50.devhawk-neo-fungible-token-sample/git-repo
	url = https://github.com/devhawk/neo-fungible-token-sample
[submodule "neo3.dotnet50.devhawk-neo-hello-oracles-sample/git-repo"]
	path = neo3.dotnet50.devhawk-neo-hello-oracles-sample/git-repo
	url = https://github.com/devhawk/neo-hello-oracles-sample
[submodule "neo3.python37.neo3-boa-examples/git-repo"]
	path = neo3.python37.neo3-boa-examples/git-repo
	url = https://github.com/CityOfZion/neo3-boa
